---
import fetchArticles from "../lib/fetchArticles";
const {class: className} = Astro.props;
const articles = await fetchArticles({count: 3})
---
<h2 class="visually-hidden">Popular articles</h2>
<ul role="list" class:list={[className]}>
    {
        articles.map((article)=> (
            <li>
                <article>
                    <img src={article.image} alt={`${article.title} article image`} />
                    <div class="flow">
                        <h3>
                            <a href={`/article/${article.slug}`}>{article.title}</a>
                            </h3>
                        <p class="truncate" style="max--lines: 2">{article.content}</p>
                    </div>
                </article>
            </li>

        ))
    }
</ul>

<style>
    article {
        display: grid;
        gap: 1rem;
        grid-template-columns: 100px auto;

        > div {
            displa: grid;
            gap: .25rem;

            &::before {
                line-height: 1;
                content: counter(article-count, decimal-leading-zero);
                display: block;
                font-weight: var(--fw-semi-bold);
                font-size: var(--fs-700);
                color: var(--clr-accent-400);
            }
        }
    }

    ul {
        counter-reset: article-count;
    }

    li {
        counter-increment: article-count;
    }
</style>